
<h2>Title</h2>
<p><%= @list.title %></p>

<h2>Body</h2>
<P><%= @list.body %></P>

<span><%= link_to "back", '/lists' %></span>

<p>
    <span><%= link_to "edit", edit_list_path(@list.id) %></span>
</p>

<span>
<%= link_to "destroy", destroy_list_path(@list.id), method: :delete, "data-confirm"=>"destroy?" %>
</span>