<div class="flash"><%= notice %></div>


<div class="show-field">Title:
<%= @list.title %></div>

<div class="show-field">Body:
<%= @list.body %></div>



<span><%= link_to "Edit", edit_list_path(@list.id) %></span>
|
<span><%= link_to "Back", '/lists' %></span>




